#ignore password
/flaskblog/password.txt

#ignore username
/flaskblog/username.txt

#ignore content
/blog

#ignore pycache
C:\Users\jonat\Google Drive\02 Personal Projects\Personal_Blog\__pycache__
#ignore vscode settings
C:\Users\jonat\Google Drive\02 Personal Projects\Personal_Blog\.vscode

#ignore requirements
requirements.txt

#ignore PipFile
Pipfile