@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    background: #ffffff!important;
    font-family: 'Inter', sans-serif !important;
    position: relative;
    padding-bottom: 100px;
    min-height: 100vh;
}

/* Layout.html CSS */

img.home-image {
    float: right;
}

main.container {
    padding-top: 10em;
}

@media only screen and (max-width: 768px) {
    img.logo {
        width: 75%;
    }
}

a.nav-link {
    font-size: 14px;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

header.site-header .navbar-nav .nav-link:hover {
    color: #000000;
}

footer {
    position: absolute;
    background-color: #ffffff;
    text-align: center;
    color: black;
    bottom: 0;
    left: 0;
    width: 100%;
}

.navbar-collapse.in {
    display: block !important;
}

/* Home.html */

img.home-image {
    width: 250px;
}

@media only screen and (max-width:1200px) {
    img.home-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* General */

.col-xs-0, .col-sm-0, .col-md-0, .col-lg-0 {
    flex: 0 0 0;
    max-width: 0;
    padding-right: 0;
    padding-left: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #0C343D;
    font-weight: bold!important;
}

h1 {
    font-size: 38px!important;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 30px!important;
    }
}

h2 {
    font-size: 32px!important;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 28px!important;
    }
}

h3 {
    font-size: 22px!important;
}

@media only screen and (max-width: 768px) {
    h3 {
        font-size: 18px!important;
    }
}

h4 {
    font-size: 18px!important;
    font-weight: lighter!important;
    color: #687385!important;
}

@media only screen and (max-width: 768px) {
    h4 {
        font-size: 16px!important;
    }
}

h5 {
    font-size: 14px!important;
    font-weight: lighter!important;
}

@media only screen and (max-width: 768px) {
    h5 {
        font-size: 12px!important;
    }
}

li {
    font-size: 14px;
}



/* Blog */

p {
    font-size: 14px;
}


.parent {
    position: relative;
}

p.article-content {
    font-size: 18px;
}

a.article-title:hover {
    text-decoration: none;
}

h1.article-title:hover {
    color: #2F6690;
}

.blog-content p {
    font-size: 16px!important;
}

img.profile {
    width: 7%;
    height: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.name-date-container {
    padding-left: 20px;
    padding-top:10px;
}
.reading-time {
    padding-left: 20px;
}