{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class="row">
   <div class="col-xs-1 col-sm-1 col-lg-2"></div>
    <div class="parent col-lg-8">
        <a class="block" href="/blog/{{ post.id }}/{{ post.title }}">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <small class="mr-2"></a>Jonathan van Wersch</small>
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <a href="/blog/{{ post.id }}/{{ post.title }}"><h2 class="article-title">{{ post.title }}</h2></a>
                    <p class="article-content">{{ post.summary }}</p>
                </div>
                <img class="blog-thumbnail" src= "{{ post.thumbnail }}"/>
            </article>
        </a>
    </div>
    <div class="col-xs-1 col-sm-1 col-lg-2"></div>
</div>
{% endfor %}
{% endblock content %}