{% extends "layout.html" %}
{% block content %}
{% for post in post %}
<div class="row">
    <div class="col-lg-2"></div>
        <div class="col-lg-8">
        <a class="block" href="/blog/{{ post.id }}/{{ post.url_title }}">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="article-title" href="/blog/{{ post.id }}/{{ post.url_title }}"><h2 class="article-title">{{ post.title }}</h2></a>
                        <p class="mr-2">By Jonathan van Wersch on {{ post.date_posted.strftime("%d %B, %Y") }}</p>
                    </div>
                    <p class="article-content">{{ post.summary|safe }}</p>
                </div>
            </article>
        </a>
        </div>
        <div class="col-lg-2"></div>
        <hr class="col-lg-8 solid">
    </div>
</div>
{% endfor %}
{% endblock content %}
