{% extends "layout.html" %}
{% block content %}
<div class="container page-container">
  <div class="row">
    <! --Welcome Banner -->
      <div class="col-lg-2"></div>
      <div class="col-lg-5">
        <h1>Hi, I'm Jonathan 👋</h1>
        <br>
        <p>
          Welcome to my home on the internet. I built this website to learn the basics of web development but also with a
          desire to establish a more consistent writing habit. 

          <br><br>
          On this site, you can read my blog where I write about whatever interests me in the moment.
        </p>
      </div>
      <div class="col-lg-3">
        <img title="Jonathan van Wersch" src="../static/welcome-image.svg" class="home-img" alt="" />
        
      </div>
      <div class="col-lg-2"></div>
      <br>
      <br>

      <! --Divider -->
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <hr class="solid">
        </div>
        <div class="col-lg-2"></div>


        <! --About Me -->
          <div class="col-lg-2"></div>
          <div class="col-lg-8">
            <br>
            <h2>About Me</h2>
            <p>
              In July of this year, I graduated with an integrated masters in mechanical engineering.
              My goal in life is to build technology companies that make a difference in the lives of others.
            </p>
            <br>
            <h3>Now</h3>
            <br>
            <ul>
              <li>💻 Building <a href=https://dekked.app>Dekked</a>—an integrated flashcarding and note-taking web
                application</li>
              <br>
              <li>✍️ Writing on this website</li>
              <br>
              <li>📖 Reading <a
                  href="https://www.amazon.com/Third-Door-Uncover-Successful-Launched/dp/0804136661">The Third Door</a> by Alex Banayan</li>
              <br>
              <li>🏋️ Running and exercising every week</li>
            </ul>
            <br>
            <h3>Other Stuff</h3>
            <br>
            <ul>
              <li>🌎 I moved around a lot during my childhood and have lived in six different countries—
                the US, Belgium, the Netherlands, Oman, Germany, and the United Kingdom.</li>
              <br>
              <li>🎌 I'm half Dutch, half Egyptian</li>
              <li></li>
            </ul>
          </div>
          <div class="col-lg-2"></div>

  </div>
  {% endblock content %}