{% extends "layout.html" %}
{% block content %}
{% for post in posts %}
<div class="row">
    <div class="col-xs-1 col-sm-1 col-lg-2"></div>
    <article class="media content-section col-lg-8">
        <div class="media-body">
            <div class="article-metadata">
                <small class="mr-2"></a>{{ post.author }}</small>
                <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
    <div class="col-xs-1 col-sm-1 col-lg-2"></div>
</div>
{% endfor %}
{% endblock content %}